
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}
  /* heading and logo */
h1, h2 {
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* Navigational links */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


/* kids-image and cover text */

#cover-text, #cover-text h2 {
     color: #fff;
}

#kids-image-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    
    position: relative;
}
  /* kids-image */
#kids-image {
    height: 600px;
    width: 100%;
    background: url('../images/kids-image.jpeg') no-repeat center center;

    /* annimate zoom effect on loading image */
    animation-name: kids-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Applying some level of zoom to kids-image */

@keyframes kids-image-zoom {
    from{
       transform: scale(1);
    }
    to{
       transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

    height: 300px;
    width: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}
 
/*Kids code ethos */

#code-ethos {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
    
}

#center-about {
    width: 33%;
    margin: 0 auto;
    
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}
.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;border-radius: 50%;
    margin: 0 auto;

}

#circle-cover-bg {
    background: url('../images/kids2-image.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#contact {
    background-image: url('../images/kids3-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    overflow: hidden;
}