
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}
  /* heading and logo */
h1, h2 {
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* Navigational links */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


/* kids-image and cover text */

#cover-text, #cover-text h2 {
     color: #fff;
}

#kids-image-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    
    position: relative;
}
  /* kids-image */
#kids-image {
    height: 600px;
    width: 100%;
    background: url('../images/kids-image.jpeg') no-repeat center center;

    /* annimate zoom effect on loading image */
    animation-name: kids-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Applying some level of zoom to kids-image */

@keyframes kids-image-zoom {
    from{
       transform: scale(1);
    }
    to{
       transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

    height: 300px;
    width: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}
 
/*Kids code ethos */

#code-ethos {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
    
}

#center-about {
    width: 33%;
    margin: 0 auto;
    
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}
.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;border-radius: 50%;
    margin: 0 auto;

}

#circle-cover-bg {
    background: url('../images/kids2-image.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#code-times {
    background-image: url('../images/kids3-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#code-times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;

}

#code-times h3 {
    color: #fafafa;
}

/*---footer style----*/

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 100%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

#contact {
    clear: both;
    margin-bottom: 50px;
    
}

.contact-boxes-container {
    width: 100%;
    margin: 0 auto;
    
}

.contact-box-left {
    width: 25%;
    margin-top: -20px;
    float: left;
}

.contact-box-right {
    width: 25%;
    text-align: right;
    margin-top: -20px;
    float: right;
}

.contact-box-center {
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

th, td {
    border-bottom: 1px solid black;
}

.text-center {
    text-align: center;
}

/* Media Queries */

@media screen  and (max-width: 1200px) {
    #code-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    hr {
        display: none;
    }
}



